html, body{
    padding:0;
    margin:0;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://img3.goodfon.com/wallpaper/nbig/a/c2/pavement-yellow-lines-parking.jpg);
}

header{
    background-color:#115EA2;
    min-height:100px;
    width:100%;
    position:relative;
    
}

header img{
    float:left;
    display:inline;
}

header h2{
    text-align:center;
    font-size:44px;
    color:#FFFFFF;
    left:0px;
    top:20px;
    font-weight:bold;
    font-family: Sans-serif;
    float:left;
    margin-top:35px;
    margin-left:20px;
    text-decoration:none;
}

header h2, a, a:hover, a:active{
    color: #ffffff;
    text-decoration: none;
}

header a:visited{
    color:#000;
}

header img{
    padding: 10px;
    width: 5%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

nav{
    position:absolute;
    top:100px;
    left:0;
    right:0;
    bottom:0;
    background-color:#ffffff;
    min-width:800px;
    text-align:left;
    height:20px;
    padding:10px 20px;
}


nav a{
    font-size:14px;
    margin:10px 0;height:20px;
    padding:12px 10px;
    color:#000;
    text-decoration:none;
}

nav a:hover{
background-color:#b9b9b9;
}

#page{
    min-height:100%;
    position:relative;
    height:100%;
}

#botonindice {
    background-color: #277fcb;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 600px;
    height: 70px;
    margin-left: 30%;
}

button {
    background-color: #277fcb;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 600px;
    height: 70px;
    margin-left: 30%;
}

button:hover{
    background-color: #115EA2;
}

table, th, td {
    width: 800px;
    border: 2px solid darkgray;
    border-radius: 10px;
    text-align: center;
}

table{
    background-color: darkgray;
    
}

th{
    background-color: lightgray;
}

td{
    background-color: white;
}
h1{
    margin-right: 130px;
    margin-top: 35px;
    vertical-align: middle;
    color: white;
}

legend{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: 300%;
    text-align: center;
    padding: 0.2em 0.5em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
legend:before {
    position: absolute;
    content: '';
    height: 20%;
    border-left: 3px solid #ffffff;
    left: 0px;
    top: 40%;
}
legend:after {
    position: absolute;
    content: '';
    height: 15px;
    border-right: 3px solid #ffffff;
    right: 0px;
    top: 40%;
}

.field_set{
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

